<div class="jumbotron">
  <h1 class="display-3">Hey guys</h1>
  <p class="lead">This is part of Theodinproject members only project</p>
  <hr class="my-4">
  <p>Sign up to see what they sayin</p>
  <p class="lead">
    <%= link_to "Sign up now!", signup_path, class: "btn btn-primary btn-lg" %>
  </p>
</div>